<html>
    <head>
        <title>Vijay Krishna AAS</title>
    </head>
    <body>
        <table style="width:100%;height:100%">
            <tr>
                <td>
<!--
                    <iframe
                        id="map"    
                        width='1100' 
                        height='800' 
                        frameborder='0' style='border:0'
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD6X0yRsNqENwXXrl4fdpMqA08RND_E3f0&q=33.7127,10&zoom=2&center=33.7127,10" allowfullscreen>
                    </iframe>
-->
                    <div id="map" style="width:1100px;height:800px;"></div>
                </td>
                <td>
                    <table>
                        <tr>
                            <td><h1>VK</h1></td>
                        </tr>
                        <tr>
                            <td><h2>Accident Alert System</h2></td>
                        </tr>
                        <tr>
                            <td><ul id="details"></ul></td>
                        </tr>
                    </table>
                    <button onclick="test()">test</button>
                </td>
            </tr>
        </table>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <script src="https://www.gstatic.com/firebasejs/6.6.1/firebase.js"></script>
        <script>
            const firebaseConfig = {
              apiKey: "AIzaSyCYpezSiyxwDGKkm8QkMtzLj1Nm5dcwE7E",
              authDomain: "my-project-1495237203835.firebaseapp.com",
              databaseURL: "https://my-project-1495237203835.firebaseio.com",
              projectId: "my-project-1495237203835",
              storageBucket: "",
              messagingSenderId: "791035027393",
              appId: "1:791035027393:web:537b39b6d532d0dffb1940"
            };
            
            firebase.initializeApp(firebaseConfig);
            
            $(document).ready(function(){

                firebase.database().ref('/AccidentReports').on('child_added', function(snapshot){
                    loadAccident(snapshot.val());
                });

            });            
            
            function loadAccident(json){
                console.log(json);
                addMarker({lat:parseFloat(json.location.lat),lng:parseFloat(json.location.lng)});
                var html = "<li><b>Car :</b>"+json.car+"</li>"
                + "<li><b>License Plate :</b>"+json.license+"</li>"
                + "<li><b>City :</b>"+json.location.city+"</li>"
                + "<li><b>Country :</b>"+json.location.country+"</li>"
                + "<li><b>Time :</b>"+new Date(parseInt(json.time))+"</li>";
                $("#details").html(html);
            }
            
            function test(){
                $.get("/reportRandomAccident",function(data){
                    console.log(data);
                });
            }
            
            var map;
            var markers = [];
            
            function initMap() {
                var myLatLng = {lat: -25.363, lng: 131.044};

                map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 2,
                  center: {lat: 33.7127 , lng: 10}
                });

                addMarker(myLatLng);
              }
            
            function addMarker(location) {
                deleteMarkers();
                var marker = new google.maps.Marker({
                  position: location,
                  map: map
                });
                markers.push(marker);
            }

            // Sets the map on all markers in the array.
            function setMapOnAll(map) {
                for (var i = 0; i < markers.length; i++) {
                  markers[i].setMap(map);
                }
            }

            // Removes the markers from the map, but keeps them in the array.
            function clearMarkers() {
                setMapOnAll(null);
            }

            // Shows any markers currently in the array.
            function showMarkers() {
                setMapOnAll(map);
            }

            // Deletes all markers in the array by removing references to them.
            function deleteMarkers() {
                clearMarkers();
                markers = [];
            }
        </script>
        
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6X0yRsNqENwXXrl4fdpMqA08RND_E3f0&callback=initMap"></script>
    </body>
</html>